In [3]:
import pandas as pd

In [7]:
file_path = r'D:\Work\python\2000 LARGEST CAMPANIES\largest campanies 2022.xlsx'
df = pd.read_excel(file_path)

In [9]:
df

,Unnamed: 0,Name,Country,Sales,Profit,Assets,Market Value
0,0,JPMorganChase,United States,$252.9 B,$50 B,"$4,090.7 B",$588.1 B
1,1,Berkshire Hathaway,United States,$369 B,$73.4 B,"$1,070 B",$899.1 B
2,2,Saudi Arabian Oil Company (Saudi Aramco),Saudi Arabia,$489.1 B,$116.9 B,$661.5 B,"$1,919.3 B"
3,3,ICBC,China,$223.8 B,$50.4 B,"$6,586 B",$215.2 B
4,4,Bank of America,United States,$183.3 B,$25 B,"$3,273.8 B",$307.3 B
...,...,...,...,...,...,...,...
1996,1996,Sichuan Chuantou Energy,China,$201 M,$632.7 M,$8.6 B,$11.3 B
1997,1997,Vietnam Prosperity Joint-sock Commercial Bank,Vietnam,$3.9 B,$460.2 M,$33.2 B,$6 B
1998,1998,Adient,United States,$15.2 B,$158 M,$9.3 B,$2.6 B
1999,1999,CapitaLand Investment,Singapore,$2.2 B,$134.8 M,$25.9 B,$10 B
2000,2000,Shanxi Lu'an Environmental,China,$5.1 B,$812.8 M,$11.6 B,$9 B

In [35]:
def convert_to_billions(sales):
    # Strip any leading or trailing whitespace
    sales = sales.strip()
    sales = sales.replace(',', '')

    
    if 'B' in sales:
        return float(sales.replace('$', '').replace(' B', '').strip())
    elif 'M' in sales:
        return float(sales.replace('$', '').replace('M', '').strip()) / 1000
    else:
        raise ValueError("Unknown format")

# Apply the conversion function to the 'sales' column
df['assets_in_billions'] = df['Assets'].apply(convert_to_billions)
df['marketValue_in_billions']=df['Market Value'].apply(convert_to_billions)
df['profit_in_billions']= df['profit'].apply(convert_to_billions)
df['sales_in_billions']= df['Sales'].apply(convert_to_billions)



df

,Unnamed: 0,Name,Country,Sales,Profit,Assets,Market Value,sales_in_billions,profit_in_billions,assets_in_billions,marketValue_in_billions
0,0,JPMorganChase,United States,$252.9 B,$50 B,"$4,090.7 B",$588.1 B,252.900,50.0000,4090.7,588.1
1,1,Berkshire Hathaway,United States,$369 B,$73.4 B,"$1,070 B",$899.1 B,369.000,73.4000,1070.0,899.1
2,2,Saudi Arabian Oil Company (Saudi Aramco),Saudi Arabia,$489.1 B,$116.9 B,$661.5 B,"$1,919.3 B",489.100,116.9000,661.5,1919.3
3,3,ICBC,China,$223.8 B,$50.4 B,"$6,586 B",$215.2 B,223.800,50.4000,6586.0,215.2
4,4,Bank of America,United States,$183.3 B,$25 B,"$3,273.8 B",$307.3 B,183.300,25.0000,3273.8,307.3
...,...,...,...,...,...,...,...,...,...,...,...
1996,1996,Sichuan Chuantou Energy,China,$201 M,$632.7 M,$8.6 B,$11.3 B,0.201,0.6327,8.6,11.3
1997,1997,Vietnam Prosperity Joint-sock Commercial Bank,Vietnam,$3.9 B,$460.2 M,$33.2 B,$6 B,3.900,0.4602,33.2,6.0
1998,1998,Adient,United States,$15.2 B,$158 M,$9.3 B,$2.6 B,15.200,0.1580,9.3,2.6
1999,1999,CapitaLand Investment,Singapore,$2.2 B,$134.8 M,$25.9 B,$10 B,2.200,0.1348,25.9,10.0
2000,2000,Shanxi Lu'an Environmental,China,$5.1 B,$812.8 M,$11.6 B,$9 B,5.100,0.8128,11.6,9.0

In [19]:
df

,rank,global company,country,sales,profit,assets,market value,assets_in_billions,marketValue_in_billions
0,1,Berkshire Hathaway,United States,$276.09 B,$89.8 B,$958.78 B,$741.48 B,958.780,741.48
1,2,ICBC,China,$208.13 B,$54.03 B,"$5,518.51 B",$214.43 B,5518.510,214.43
2,3,Saudi Arabian Oil Company (Saudi Aramco),Saudi Arabia,$400.38 B,$105.36 B,$576.04 B,"$2,292.08 B",576.040,2292.08
3,4,JPMorgan Chase,United States,$124.54 B,$42.12 B,"$3,954.69 B",$374.45 B,3954.690,374.45
4,5,China Construction Bank,China,$202.07 B,$46.89 B,"$4,746.95 B",$181.32 B,4746.950,181.32
...,...,...,...,...,...,...,...,...,...
1995,1995,"Shenzhen Feima International Supply Chain Co.,...",China,$37 M,$1.41 B,$166 M,$1.14 B,0.166,1.14
1996,1997,NMDC,India,$3.52 B,$1.41 B,$5.71 B,$6.4 B,5.710,6.40
1997,1997,Sichuan Changhong Electric,China,$15.72 B,$53.1 M,$12.11 B,$1.96 B,12.110,1.96
1998,1999,Credit Bank of Moscow,Russia,$2.53 B,$370.1 M,$45.15 B,$2.06 B,45.150,2.06
1999,1999,Satellite Chemical,China,$4.41 B,$931.3 M,$7.64 B,$9.52 B,7.640,9.52

In [50]:
import os 
#urpose: This function retrieves the directory name from the full file path specified in file_path.
#Example: If file_path is r'D:\Work\python\2000 LARGEST CAMPANIES\largest campanies 2022.xlsx', then os.path.dirname(file_path) will return r'D:\Work\python\2000 LARGEST CAMPANIES'.
output_file_name = 'largest_companies_2022_processed.xlsx'  # Name of the new file
output_path = os.path.join(os.path.dirname(file_path), output_file_name)

# Save the modified DataFrame to a new Excel file
try:
    df.to_excel(output_path, index=False)  # Set index=False to avoid writing row indices
    print(f"DataFrame saved to {output_path}")
except PermissionError as e:
    print(f"Permission error: {e}")
except Exception as e:
    print(f"An error occurred: {e}")

DataFrame saved to D:\Work\python\2000 LARGEST CAMPANIES\largest_companies_2022_processed.xlsx